body {
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    color: white;
}

#text {
    background-color: rgba(89,89,89,0.7);
    border-radius: 20px;
    border: solid white 5px;
}

a {
    font-size: 20px;
}

p {
    font-size: 18px;
    font-weight: 500;
}

#text li {
    font-size: 18px;
    font-weight: 500;
}

li a {
    color:aqua;
    text-decoration: underline;
}

li a:hover {
    color: #00ccff;
}